
<div class="container-fluid">
    <div class="row">

        <div class="ocultar col-md-2 d-flex " style="border: 1px solid red;">
            <app-sidebar class="ocultar-celulares"></app-sidebar>
        </div>

        <div class="col-md-7 d-flex" style="border: 1px solid green;">
            <br>
            <app-post></app-post>
        </div>

        <div class="ancho col-md-3 h-100 ancho" style="border: 1px solid blue;">
            <app-chat class="ancho"></app-chat>
        </div>

    </div>
</div>







