
<div>
    <p style="font-size: 25px; font-weight: 700;">Personas recomendadas</p>
    <br>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div class="row">
        <!-- <div class="col-md-4 mb30"> -->
        <div class="">
            <div *ngFor="let u of recommendedUsers"  class="card">

                <div class="card-content pt20 pb20 profile-header">

                    <img [src]="u.profilePicture" alt="" class="img-circle img-fluid">
                    <h4 class="card-title text-center mb20">@{{u.username}}</h4>
                    <h4 class="card-title text-center mb20">{{u.name}}</h4>
                    <p>
                        {{u.description}}

                    </p>
                    <div class="text-center clearfix">
                        <a href="#" class="social-icon-sm si-border si-facebook si-border-round">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icon-sm si-border si-twitter si-border-round">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon-sm si-border si-g-plus si-border-round">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="social-icon-sm si-border si-skype si-border-round">
                            <i class="fa fa-skype"></i>
                        </a>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 mb20 text-center">
                            <h5>{{u.followers ? u.followers.length : 0}}</h5>
                            <h6 class="text-small text-muted">Seguidores</h6>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button style="width: 100px;" class="btn btn-primary btn-rounded">Seguir</button>
                    </div>
                    <hr>
                </div>
                <!--content-->

            </div>
        </div>