<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row activity">
                <div class="col-md-6">
                    <div class="panel panel-default agrandar fondo">
                        <div class="panel-body">
                            <input type="email" class="form-control" placeholder="What are you doing now?">
                        </div>
                        <div class="panel-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link"><i class="fa fa-map-marker"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-users"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-camera"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-video-camera"></i></button>
                                <button type="button" class="btn btn-link"><i class="fa fa-calendar-o"></i></button>
                            </div>
                            
                            <div class="pull-right">
                                <button type="button" class="btn btn-success">submit</button>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="panel panel-default agrandar fondo" style="border: 1px solid blue;">
                        <div class="panel-heading">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded">
                            <div class="pull-right text-right">
                                <i class="fa fa-calendar"></i><br> 3 hours ago
                            </div>
                            <div><strong>John Doe</strong></div>
                            <div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia</div>
                        </div>
                        <div class="panel-body">
                            <blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</blockquote>
                        </div>
                        <div class="panel-footer">
                            <input type="email" class="form-control" placeholder="Write a comment...">
                        </div>
                    </div>
                    <!-- Con foto -->
                    <div *ngFor="let post of postList" class="panel panel-default agrandar fondo"  style="border: 1px solid red;">
                        <div class="panel-heading">
                            <img [src]="post.userOwner.profilePicture" class="img-rounded">
                            <div class="pull-right text-right">
                                <div class="panel-body">
                                    <!-- <blockquote>{{post.description}}
                                    </blockquote> -->
                                </div>
                            </div>
                            <div><strong>{{post.userOwner.name}}</strong></div>
                            <div class="small"><i class="fa fa-map-marker"></i> Medellin, Colombia(estatico, editar). <strong> {{post.createdAt}} </strong></div>
                            
                        </div>
                        <blockquote>{{post.description}}
                        </blockquote>
                        <div class="panel-body">
                            <!-- <img src="https://www.bootdey.com/image/670x500" class="img-responsive"> -->
                            <img [src]="post.image" class="post-img">

                            <!-- DIV LIKES Y COMENTARIOS -->
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Me gusta</button>
                                    <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Compartir</button>
                                </div>
                                <div class="pull-right"><strong>A 
                                    {{post.likes? post.likes.length: 0}}
                                </strong> les gusta</div>      
                            </div>  
                            <!-- --------------------- -->
                            
                            <div *ngFor="let com of post.comments" class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-rounded" [src]="com.userOwner.profilePicture">
                                </a>
                                <div class="media-body">
                                    <div class="pull-right small">{{com.createdAt}}</div>
                                    <strong class="media-heading">{{com.userOwner.name}}</strong>
                                    <p>{{com.comment}}</p>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="panel-footer">
                            <input type="email" class="form-control" placeholder="Write a comment...">
                        </div>
                    </div>
                    
                
                </div>
            </div>
        </div>